@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Klee+One&display=swap');
label{
    display: block;
    text-align: left;
    /* font-family: 'Courier New', Courier, monospace; */
}
#form{
   
    width: fit-content;
    margin: 50px auto;
    width: 100%;
    margin: 20px 0px;
    background-color: white;
}
input{
    font-size: 1.2rem;
    margin:10px 0;
    border-width: 2px;
    color:rgb(157, 169, 180);
    padding-bottom: 5px;
    background-color: white;
    font-family: Klee One;
}
#formButton{
    background-color: black;
    padding: 8px;
    background-color: rgb(29, 29, 29);
    border: none;
    border-radius: 10px;
    font-size:0.9rem;
    width: 70px;
    
}

